In [2]:
def fun(name):
    return f"hello, {name}!!"
print(fun("Abhilash"))

hello, Abhilash!!

In [5]:
#function with default parameters
def sample(a=1,b=1):
    return a*b  
print(sample()) 
print(sample(5))
print(sample(5,3))

1
5
15

In [3]:
#function with keyword args *
def result(*args):
    return sum(args)
print(result(1,2,3))
print(result(11,22,33,44))
print(result(2,3,5,7))

6
110
17

In [ ]:
#functions with keyword args **
#**kwargs
def info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} : {value}")
info(name='Abhi', age='20', city='vijayawada')

name : Abhi
age : 20
city : vijayawada

In [14]:
#Lambda function
sq=lambda X: X*X
print(sq(5))
add=lambda X,Y: X+Y
print(add(3,5))

25
8

In [21]:
'''write a program to return n number of multiple values where passing a list of 1 to 5 elements
return the min max and avg in a single function'''
def sample(x):
    return min(x),max(x), sum(x)/len(x)
min_v, max_v, avg_v=sample(x=[1,2,3,4,5])
print(f"Min:{min_v} , Max:{max_v} , Average:{avg_v}")

Min:1 , Max:5 , Average:3.0

In [23]:
#Direct recursion 
#function calls itself directly within its definition
def fact(n):
    if n==0 or n==1:
        return 1
    return n*fact(n-1)
print(fact(5))

120

In [25]:
def e(n):
    if n==0:
        return True
    return o(n-1)
def o(n):
    if n==0:
        return False
    return e(n-1)
print(e(4))
print(o(3))

True
True

In [ ]:
#tail non tail
def fact(n,t=1):
    if n==0 or n==1:
        return t
    return fact(n-1,n*t)
print(fact(5))

120

In [ ]:
#linear rec
#sum of 1 to n=(10)
def total(n):
    if n<=0:
        return 0
    return n+total(n-1)
print(total(10))

55